[Desktop Entry]
Encoding=UTF-8
Exec=xdg-user-dirs-gtk-update
Name=User folders update
Name[kk]=Пайдаланушы бумаларын жаңарту
Comment=Update common folders names to match current locale
Comment[kk]=Ағымдағы тілге сәйкес пайдаланушы бумаларын жаңарту
Terminal=false
OnlyShowIn=GNOME;XFCE;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
