[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xxkb
Comment=xxkb
Exec=/bin/bash -c "/bin/sleep 5 && /usr/bin/xxkb"
StartupNotify=false
Terminal=false
Hidden=false

