
[Desktop Entry]
Version=1.0
Name=Application Finder
Name[kk]=Қолданбаларды табушы
Comment=Find and launch applications installed on your system
Comment[kk]=Жүйеңізде орнатылған қолданбаларды табады және орындайды
Exec=xfce4-appfinder
Icon=xfce4-appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=X-XFCE;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
